@charset "UTF-8";

@media screen and (max-width: 767.98px){
    header .container {
        flex-wrap: wrap; 
    }

    #menuprincipal {
        display: none;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }

    #burguer{
        padding-right: 15px;
        transform: scale(1.6);
    }

    #menuprincipal a.pags {
        padding: 5px;
        font-size: 0.7em;
    }

    #linha-vertical {
        display: none;
    }

    main section.container{
        padding: 0 0 10px 0;
    }

    main article#doacao{
        padding: 15px;
    }
    .contribua{
    width: 90%;}

    .cards img {
        padding: 0;
        margin: auto;
        width: 18.4em;
        height: auto;
        display: block;
    }
    main article#galeria{
        border-radius: 1cap;
        height: auto;
        width: 90%;
        max-width: 480px;
    }

    #iconeft{
        height: 45px;
        margin: auto;
        cursor: grab;
    }

    main article#galeria h1{
        font-size: 1.5em;
        padding: 0px 0 10px 0;
        text-align: left;
        margin: 0;
    }

    .group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
    animation: spin 60s infinite linear;
    padding-right: 0.1em;
    }

    .carrossel .card {
        padding: 0.3em;
    }

    .carrossel .card img{
        height: 45vh;
    }

    .material-icons {
        display: block; 
    }

    footer div h1#caedi {
        display: none;
    }

    footer p#copyright {
        font-size: 0.6em;
        transition: 0.5s;
    }
}
/*------------------------------------*/

@media screen and (min-width: 768px){
    #burguer {
        display: none;
    }

    #menuprincipal {
        display: flex !important; 
    }

    main article#doacao{
        width: 46%;
    }

    main article#galeria{
        width: 46%;
    }

    .itemseventos{
        display: flex;
        gap: 10px;
        flex-flow: row wrap;
    }
    section.eventos article{
        width: 41vw;
    }
}

@media screen and (min-width: 1080px){
    section.eventos article{
        width: 20.5vw;
    }
}