@charset "UTF-8";

@font-face {
    font-family: 'tahoma';
    src: url(tahoma.ttf), format ('opentype');
}
@font-face {
    font-family: 'tahomabd';
    src: url('tahomabd.ttf'), format ('opentype');
}
:root{
    --cor1:white;
    --cor2:#a7bcf1;
    --cor3:#293050;
    --cor4:black;
}

*{
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*BORDA FAZ PARTE DO CALCULO DA CAIXA*/
}
body{
    background-color: #a7bcf1;
    font-family: 'tahoma';
}

header{
    padding:10px 5vw 10px 7vw;
    bottom: 0;
    background-color: var(--cor1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.137);

}

.material-icons{
    transform: scale(1.5);
    cursor: pointer;
}

div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

header .items{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    transition: 0.4s;
}

.pags{
    align-content: space-around;
    text-decoration: none;
    height: 33px;
    font-family: 'tahomabd';
    color: var(--cor3);
    transition: 0.4s;
}

a.pags{
    padding: 0 3vw 0 3vw;
}

a.items:hover{
    transform: scale(1.1);
}

.pags:hover{
    color: var(--cor2);
    text-decoration: underline;
    transform: translate(0px, -2px);
}

a{
    padding: 0 15px 0 15px;
    text-align: center;
}

#linha-vertical {
  background-color: var(--cor2);
  width: 1px;
  height: 28px; 
  margin: 0 auto; 
}

header img{
    height: 100px;   
}
/*--------------------------------------------------------------*/
main{
    padding-top: 3vh;
    font-family: 'tahomabd';
    color: var(--cor3);
}
main section.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-image: url(imagens/20251120_070607.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 4vw 0 4vw;
}
main article#doacao{
    background-color: var(--cor1);
    margin: 20px;
    padding: 10px 30px 40px 30px;
    width: 90%;
    max-width: 480px;
    border-radius: 1cap;
    text-align: center;
}
main article#doacao h1{
    margin: 10px 0 10px 0;
    line-height: 1em;
}
main article#doacao p{
    margin-bottom: 25px;
}

.contribua{
    margin: auto;
    width: 85%;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 1cap;
    background-image: linear-gradient(rgba(255, 0, 0, 0.065), rgba(255, 0, 0, 0.202));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.058);
    border-color: #946ace2a;
    border-width: 2px;
    border-style: solid;
    flex-direction: column;
    display: flex;
    align-items: center;
}
a.botao{
    background-color: #936ace;
    border-style: solid;
    font-size: 1.2em;
    border-color: rgba(81, 44, 146, 0.459);
    border-radius: 1cap;
    display: flex;
    padding: 8px 4px 12px 10px;
    transition: 0.5s;
    text-decoration: none;
}
a.botao:hover{
    transform: scale(1.1);
}
a.botao img{
    margin: auto;
    align-items: center;
}
a.botao h2{
    padding: 5px;
    margin: center;
    align-items: center;
}

.contribua h2{
    color: var(--cor1);
    margin: auto;
    font-size: 0.9em;
}

main article#galeria{
    background-color: var(--cor3);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1cap;
    height: 580px;
    width: 90%;
    max-width: 480px;
}

main #galeriafts{
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconeft{
    height: 30px;
    left: 0;
    padding: 0;
    transform: translateY(-4px);
    margin: 2px;
    cursor: grab;
}

main article#galeria h1{
    padding-left: 10px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

#galeria {
  padding: 40px 0;
  text-align: center;
}

.galeriafotos {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.cards {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.4s ease;
}

.cards li {
    margin: 10px;
}

.cards img {
    padding: 0 20px 0 20px;
    margin: auto;
    width: 420px;
    height: auto;
    display: block;
}

.galeriafotos button {
    position: absolute;
    margin: -10px;
    top: 45%;
    cursor: pointer;
    background: transparent;
    border: none;
}

.galeriafotos button img{
    height: 50px;
    transition: 0.2s;
}

.galeriafotos button img:hover{
    opacity: 0.8;
}

#prev { left: 10px; }
#next { right: 10px; }

.eventos{
    padding: 20px 6vw 50px 6vw;
}

.eventos h1{
    text-align: center;
    font-size: 2.4cap;
    margin-bottom: 10px;
}

.eventos p{
    text-align: center;
    padding-bottom: 10px;
}
section.eventos article{
    background-color: var(--cor1);
    border-radius: 2cap;
    padding: 20px 0 15px 0;
    font-size: 0.6em;
    margin-top: 18px;
    display: flex;
    flex-flow: column nowrap;
    transition: 0.5s;
    max-width: 500px;
}

section.eventos article:hover{
    transform: scale(1.02);
}
.titulo{
    flex-flow: row nowrap;
    width: 100%;
    padding: 0 20px 0 20px;
}
.eventos article div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.eventos article img{
    flex-direction: column;
    width: 100%;
    padding: 10px 0 10px 0;
}
.eventos article h2{
    color: var(--cor1);
    text-decoration: none;
    transform: translate(0px, -2px);
    transition: 0.5s;
    cursor: pointer;    
}
.eventos article h2:hover{
    text-decoration: underline;
    transform: translate(0px, -2px);
}

.eventos button{
    background-color: #936ace;
    border-style: solid;
    font-size: 1.2em;
    border-color: rgba(81, 44, 146, 0.459);
    border-radius: 1cap;
    margin: auto;
    padding: 7px;
    width: 150px;
    border-radius: 1cap;
    transition: 0.5s;
    border-width: 1.5px;
}

.eventos button:hover{
    transform: scale(1.05);
}

.botaoeventos{
    margin: auto;
    background-color: var(--cor2);
    color: var(--cor3);
    text-align: center;
    width: 220px;
    margin-top: 40px;
    border-style: solid;
    font-size: 0.8em;
    border-width: 0.4cap;
    border-color: var(--cor3);
    border-radius: 1cap;
    display: flex;
    padding: 8px 4px 12px 10px;
    transition: 0.5s;
    text-decoration: none;
}
.botaoeventos:hover{
    transform: scale(1.1);
    text-decoration: underline;
    background-color: rgba(255, 0, 0, 0.065);
}
.botaoeventos h2{
    padding: 5px;
    margin: auto;
    align-items: center;
}
/*---------------------------------------------------------*/

footer{
    text-align: center;
    padding-top: 20px;
    height: 125px;
    width: 100%;
    background-color: var(--cor3);
}

footer div.container{
    padding: 0 7vw 10px 7vw;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    display: flex;
}

#caedi{
    align-items: center;
    flex-direction: column;
}

footer span{
    color: #a7bcf1;
    line-height: 20px;
    font-size: 0.5em;
}

.subcontainer{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    transition: 0.4s;
}

footer .items{
    align-content: space-around;
    text-decoration: none;
    padding-left: 0;
    transition: 0.4s;
}

footer h1{
    text-align: left;
    color: var(--cor1);
    font-size: 1em;
    padding-right: 10px;
}

p#subtitulo{
    font-size: 10px;
}

footer img{
    height: 25px;
    width: auto;
}

footer hr{
    bottom: 50px;
    border-color: #1f243b;
}

footer p#copyright{
    padding: 15px 0 20px 0;
    text-align: center;
    bottom: 0;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.651);
}